.products{
   position: relative;
    gap: 70px;
    display: grid;
    justify-content: center;
    margin-top: 40px;
    grid-template-columns: repeat(3, 400px);
}
.card-h1{
    margin-left: 10px;
    margin-top: 10px;
}
.products .card-button{
    position: absolute;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background:  linear-gradient(91.63deg, #C229BC 0.42%, #5F00CA 100%);
    bottom: -50px;
    font-weight: bolder;
    right: 45%;
    color: white;
    cursor: pointer;



}
.card-h2{
    margin-top: 50px;
    margin-left: 10px;
}